@import 'colors';

// main styles
#application {
  font-family: 'Lato', sans-serif;
}

#main-content {
  margin-top: 160px;
}

#main-navbar {
  height: 140px;
  display: block;
}

#main-contact-info {
  height: 15px;
  font-size: 14px;
}

#navbar-logo{
  height: 60px;
}

#hero-logo {
  max-width: 50%;
  margin-bottom: 20px;
}

.jumbotron {
  background-image: url("../images/bg1.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: $gray;
}

.footer-area {
  background-image: url("../images/bg-img/3.jpg");
}


//buttons
.btn {
  border-radius: 22.5px !important;
  border: 0px !important;
}
.btn-primary {
  background-color: $turquoise !important;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-error hr {
  border-top-color: #f1b0b7;
}

.alert-error .alert-link {
  color: #491217;
}