@import 'colors';

// main styles

#main-content {
  margin-top: 160px;
}

#main-navbar {
  height: 140px;
  display: block;
}

#main-contact-info {
  height: 15px;
  font-size: 14px;
}

#navbar-logo{
  height: 60px;
}

.jumbotron {
  background-color: $gray !important;
  color: $white;
}


//buttons
.btn {
  border-radius: 22.5px !important;
  border: 0px !important;
}
.btn-primary {
  background-color: $turquoise !important;
}